:root {
    // Микро-анимация
    --transition-fn: cubic-bezier(0.99, 0.02, 0.115, 1.46);

    // Семейства шрифтов
    --font-family-sbsans-regular: "SB Sans Text Regular", sans-serif;
    --font-family-sbsans-medium: "SB Sans Text Medium", sans-serif;
    --font-family-sbsans-bold: "SB Sans Display Semibold", sans-serif;

    // Толщина шрифтов
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    // Размер шрифтов
    --font-size-13: 13px;
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-22: 22px;
    --font-size-24: 24px;
    --font-size-28: 28px;
    --font-size-34: 34px;
    --font-size-40: 40px;
    --font-size-50: 50px;
    --font-size-60: 60px;

    // Межстрочный интервал шрифтов
    --line-height-13: 16px;
    --line-height-15: 19px;
    --line-height-16: 20px;
    --line-height-18: 23px;
    --line-height-20: 25px;
    --line-height-22: 28px;
    --line-height-24: 30px;
    --line-height-28: 35px;
    --line-height-34: 43px;
    --line-height-40: 50px;
    --line-height-50: 63px;
    --line-height-60: 75px;

    // Сокращенные переменные шрифтов для mobile
    --font-mobile-xs: var(--font-size-13) / var(--line-height-13) var(--font-family-sbsans-regular);
    --font-mobile-s: var(--font-size-15) / var(--line-height-15) var(--font-family-sbsans-medium);
    --font-mobile-m: var(--font-size-16) / var(--line-height-16) var(--font-family-sbsans-regular);
    --font-mobile-m-bold: var(--font-size-16) / var(--line-height-16) var(--font-family-sbsans-medium);
    --font-mobile-l: var(--font-size-18) / var(--line-height-18) var(--font-family-sbsans-medium);
    --font-mobile-xl: var(--font-size-20) / var(--line-height-20) var(--font-family-sbsans-medium);
    --font-mobile-xxl: var(--font-size-24) / var(--line-height-24) var(--font-family-sbsans-medium);
    --font-mobile-big: var(--font-size-40) / var(--line-height-40) var(--font-family-sbsans-medium);

    // Сокращенные переменные шрифтов для tablet
    --font-tablet-xs: var(--font-size-13) / var(--line-height-13) var(--font-family-sbsans-regular);
    --font-tablet-s: var(--font-size-15) / var(--line-height-15) var(--font-family-sbsans-medium);
    --font-tablet-m: var(--font-size-16) / var(--line-height-16) var(--font-family-sbsans-regular);
    --font-tablet-m-bold: var(--font-size-16) / var(--line-height-16) var(--font-family-sbsans-medium);
    --font-tablet-l: var(--font-size-20) / var(--line-height-20) var(--font-family-sbsans-medium);
    --font-tablet-xl: var(--font-size-22) / var(--line-height-22) var(--font-family-sbsans-medium);
    --font-tablet-xxl: var(--font-size-28) / var(--line-height-28) var(--font-family-sbsans-medium);
    --font-tablet-big: var(--font-size-50) / var(--line-height-50) var(--font-family-sbsans-medium);

    // Сокращенные переменные шрифтов для desktop
    --font-desktop-xs: var(--font-size-13) / var(--line-height-13) var(--font-family-sbsans-regular);
    --font-desktop-s: var(--font-size-15) / var(--line-height-15) var(--font-family-sbsans-medium);
    --font-desktop-m: var(--font-size-16) / var(--line-height-16) var(--font-family-sbsans-regular);
    --font-desktop-m-bold: var(--font-size-16) / var(--line-height-16) var(--font-family-sbsans-medium);
    --font-desktop-l: var(--font-size-18) / var(--line-height-18) var(--font-family-sbsans-medium);
    --font-desktop-xl: var(--font-size-24) / var(--line-height-24) var(--font-family-sbsans-medium);
    --font-desktop-xxl: var(--font-size-34) / var(--line-height-34) var(--font-family-sbsans-medium);
    --font-desktop-big: var(--font-size-60) / var(--line-height-60) var(--font-family-sbsans-medium);

    // Цвета для категории Доходы
    --encome-color-1: #08a652;
    --encome-color-2: #0c84ce;
    --encome-color-3: #0ccebe;
    --encome-color-4: #32f8e7;
    --encome-color-5: #4dbbff;
    --encome-color-6: #127c44;
    --encome-color-7: #10e474;
    --encome-color-8: #10e410;
    --encome-color-9: #54edf8;
    --encome-color-10: #00a2c7;
    --encome-color-11: #0067c7;
    --encome-color-12: #00b079;
    --encome-color-13: #00b2ff;
    --encome-color-14: #97d048;
    --encome-color-15: #b0e1ff;
    --encome-color-16: #bcf5ff;
    --encome-color-17: #177d75;
    --encome-color-18: #0095f2;
    --encome-color-19: #a9b220;
    --encome-color-20: #00c78e;
    --encome-color-21: #a9ffa9;
    --encome-color-22: #ac96fd;
    --encome-color-23: #6da6f1;
    --encome-color-24: #9ab7ff;
    --encome-color-25: #30dea7;
    --encome-color-26: #ea83ff;

    // Цвета для категории Расходы
    --expense-color-1: #ff8000;
    --expense-color-2: #f30;
    --expense-color-3: #ffb784;
    --expense-color-4: #ffac58;
    --expense-color-5: #fff185;
    --expense-color-6: #9a0000;
    --expense-color-7: #e4103e;
    --expense-color-8: #d87e00;
    --expense-color-9: #ffea00;
    --expense-color-10: #a7ad00;
    --expense-color-11: #c72800;
    --expense-color-12: #ffc341;
    --expense-color-13: #ff6a45;
    --expense-color-14: #ffff14;
    --expense-color-15: #ff6a00;
}
