.app-dark-theme {
    --bg-app: #0f0f0f;
    --bg-app-accent: #262827;
    --input-border: #424345;
    --text-heading: #fff;
    --text-gray: #999;
    --text-gray-accent: #fff;
    --accent-green: #08a652;
    --accent-green-hover: #21ba72;
    --accent-red: #c00;
}
