.app-dark-theme {
    --bg-app: #0f0f0f;
    --bg-app-accent: #262827;
    --input-border: #424345;
    --select-bg-normal: #424345;
    --select-bg-inversion: #424345;
    --select-options-border: #454545;
    --select-options-bg: #3A3A3A;
    --text-heading: #fff;
    --text-white: #fff;
    --text-gray: #999;
    --text-gray-accent: #fff;
    --accent-green: #08a652;
    --accent-green-hover: #21ba72;
    --accent-red: #c00;
    --card-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
    --select-options-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);
    --select-options-shadow-top: 0 -5px 15px 0 rgb(0 0 0 / 50%);
    --scroll-thumb: #262827;
}
