:root {
    --bg-app: #f9f7f7;
    --bg-app-accent: #fff;
    --input-border: #e4e4e4;
    --select-bg-normal: #fff;
    --select-bg-inversion: #f5f5f5;
    --select-options-border: #e4e4e4;
    --select-options-bg: #fff;
    --text-heading: #0f0f0f;
    --text-white: #fff;
    --text-gray: #b2b2b2;
    --text-gray-accent: #767676;
    --accent-green: #08a652;
    --accent-green-hover: #21ba72;
    --accent-red: #c00;
    --card-shadow: 0 4px 20px 0 rgb(0 0 0 / 5%);
    --select-options-shadow: 0 2px 3px 0 rgb(113 113 113 / 10%);
    --select-options-shadow-top: 0 -2px 3px 0 rgb(113 113 113 / 10%);
    --scroll-thumb: #e4e4e4;
}
