:root {
    --bg-app: #f9f7f7;
    --bg-app-accent: #fff;
    --input-border: #e4e4e4;
    --text-heading: #0f0f0f;
    --text-gray: #b2b2b2;
    --text-gray-accent: #767676;
    --accent-green: #08a652;
    --accent-green-hover: #21ba72;
    --accent-red: #c00;
}
