.flex-container {
    display: flex;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.direction-row {
    flex-direction: row;
}

.direction-column {
    flex-direction: column;
}

.max {
    width: 100%;
}

.gap1 {
    gap: 1px;
}

.gap2 {
    gap: 2px;
}

.gap3 {
    gap: 3px;
}

.gap5 {
    gap: 5px;
}

.gap10 {
    gap: 10px;
}

.gap11 {
    gap: 11px;
}

.gap12 {
    gap: 12px;
}

.gap13 {
    gap: 13px;
}

.gap15 {
    gap: 15px;
}

.gap20 {
    gap: 20px;
}

.gap24 {
    gap: 24px;
}

.gap30 {
    gap: 30px;
}

.gap40 {
    gap: 40px;
}
